<footer class="footer flex justify-content-center">
    <div class="flex flex-column justify-content-center standard-width">
        <img class="align-self-center" ngSrc="../../../assets/VCMedia_Logo_PNG_WhiteTxt.png" alt="Logo" width="240" height="240" priority>
        <p-divider styleClass="footer-divider"></p-divider>
        <div class="flex flex-column-reverse md:flex-row justify-content-between gap-4 mt-3 mb-5">
            <p class="md:mr-5 text-center md:text-left">Copyright © {{ year }}. All Rights Reserved by VibeCats Media LLC</p>
            <div class="flex justify-content-around">
                <a routerLink="/privacy-policy" class="footer-link">Privacy Policy</a>
                <a routerLink="/terms-and-conditions" class="footer-link ml-5">Terms & Conditions</a>
            </div>
        </div>
    </div>
</footer>