<div class="navbar">
    <div class="navbar-contents standard-width flex align-items-center justify-content-between">
        <img ngSrc="../../../assets/VCMedia_Logo_PNG_WhiteSpaceCropped.png" alt="Logo" width="72" height="72" priority>
        <div class="flex align-items-center">
            <a routerLink="/" routerLinkActive="active-link" class="navbar-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <!-- <a routerLink="/about-us" routerLinkActive="active-link" class="navbar-link ml-5">About Us</a>
            <a routerLink="/locations" routerLinkActive="active-link" class="navbar-link ml-5">Locations</a>
            <a routerLink="/advertise" routerLinkActive="active-link" class="navbar-link ml-5">Advertise</a>
            <a routerLink="/become-a-host" routerLinkActive="active-link" class="navbar-link ml-5">Become a Host</a> -->
            <a routerLink="/contact" routerLinkActive="active-link" class="navbar-link ml-5">Contact Us</a>
        </div>
        <!-- <div></div> -->
    </div>
</div>