.navbar{
    z-index: 1000;
    position: sticky;
    background-color: var(--light-blue);
    top: 0;
    left: 0;
    right: 0;
    height: 5.625rem;
    display: flex;
    justify-content: center;

    .navbar-contents{
        height: 100%;

        .navbar-link{
            font-size: .875rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #707070;
            
            &.active-link{
                color: #000;
            }
        }
    }
}