<section class="terms-and-conditions-page vc-background-background-gray flex flex-column justify-content-center align-items-center pt-7 pb-7">
    <h3 class="mb-5">Terms and Conditions</h3>
    <p class="terms-and-conditions-page-tc">   
        Last Updated: January 23, 2023<br/>
        <br/>
        Welcome to the VibeCats Media website! These terms and conditions outline the rules and regulations for the use of VibeCats Media's Website, located at vibecatsmedia.com.<br/>
        <br/>
        By accessing this website, we assume you accept these terms and conditions. Do not continue to use the VibeCats Media website if you do not agree to all of the terms and conditions stated on this page.<br/>
        <br/>
        <strong>
            Intellectual Property Rights<br/>
        </strong>
        <br/>
        Other than the content you own, under these Terms, VibeCats Media LLC and/or its licensors own all the intellectual property rights and materials contained in this Website.<br/>
        <br/>
        You are granted limited license only for purposes of viewing the material contained on this Website.<br/>
        <br/>
        <strong>
            Restrictions<br/>
        </strong>
        <br/>
        You are specifically restricted from:<br/>
        <br/>
        - Publishing any Website material in any other media<br/>
        - Selling, sublicensing, and/or otherwise commercializing any Website material<br/>
        - Publicly performing and/or showing any Website material<br/>
        - Using this Website in any way that is or may be damaging to this Website<br/>
        - Using this Website in any way that impacts user access to this Website<br/>
        - Using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity<br/>
        <br/>
        <strong>
            Your Content<br/>
        </strong><br/>
        In these Website Standard Terms and Conditions, "Your Content" shall mean any audio, video text, images, or other material you choose to display on this Website. By displaying Your Content, you grant VibeCats Media LLC a non-exclusive, worldwide irrevocable, sub-licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.<br/>
        <br/>
        <strong>
            No Warranties<br/>
        </strong>
        <br/>
        This Website is provided "as is," with all faults, and VibeCats Media LLC expresses no representations or warranties of any kind related to this Website or the materials contained on this Website.<br/>
        <br/>
        <strong>
            Limitation of Liability<br/>
        </strong><br/>
        In no event shall VibeCats Media LLC, nor any of its officers, directors, and employees, be held liable for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract. VibeCats Media LLC, including its officers, directors, and employees, shall not be held liable for any indirect, consequential, or special liability arising out of or in any way related to your use of this Website.<br/>
        <br/>
        <strong>
            Indemnification<br/>
        </strong><br/>
        You hereby indemnify to the fullest extent VibeCats Media LLC from and against any and/or all liabilities, costs, demands, causes of action, damages, and expenses arising in any way related to your breach of any of the provisions of these Terms.<br/>
        <br/>
        <strong>
            Variation of Terms<br/>
        </strong><br/>
        VibeCats Media LLC is permitted to revise these Terms at any time as it sees fit, and by using this Website, you are expected to review these Terms on a regular basis.<br/>
        <br/>
        <strong>
            Entire Agreement<br/>
        </strong><br/>
        These Terms constitute the entire agreement between VibeCats Media and you in relation to your use of this Website and supersede all prior agreements and understandings.<br/>
     </p>
</section>
<app-footer></app-footer>