<section class="privacy-policy-page vc-background-background-gray flex flex-column justify-content-center align-items-center pt-7 pb-7">
    <h3 class="mb-5">Privacy Policy</h3>
    <p class="privacy-policy-page-policy">   
        Effective as of January 23, 2023<br/>
        <br/>
        <strong>
            Introduction:<br/>
        </strong>
        <br/>
        Welcome to VibeCats Media. We respect your privacy and are committed to protecting your personal information. This Privacy Policy explains the types of information we collect from visitors and how we use it.<br/>
        <br/>
        <strong>
            Information Collection:<br/>
        </strong>
        <br/>
        We may collect personal information when you:<br/>
        <br/>
        - Use our contact form<br/>
        - Interact with our website<br/>
        <br/>
        The information collected might include your name, email address, and any other details you choose to provide.<br/>
        <br/>
        <strong>
            Use of Information:<br/>
        </strong>
        <br/>
        The information you provide may be used to:<br/>
        <br/>
        - Respond to your inquiries<br/>
        - Improve our website and services<br/>
        - Send updates or marketing communications, subject to your preferences<br/>
        <br/>
        <strong>
            Data Security:<br/>
        </strong>
        We take reasonable steps to protect the information you provide from loss, misuse, and unauthorized access or disclosure.<br/>
        <br/>
        <strong>
            Changes to This Policy:<br/>
        </strong>
        We may update this Privacy Policy from time to time. We encourage visitors to frequently check this page for any changes.<br/>
        <br/>
        </p>
</section>
<app-footer></app-footer>